<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}

            <title>Wild Circus</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
            <div class="banniere">
                <div class="navbar">
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/creatures"><li>Créatures</li></a>
                        <a href="/contact"><li>Contact</li></a>
                    </ul>
                </div>
                <h1>Wild Circus</h1>
            </div>
        </div>
            {% block content %} {% endblock content%}
        <div id="footer">
            {% block footer %} {% endblock %}
        </div>
    </body>
</html>
