{% extends 'base.html.twig' %}

{% block content %}
    <div class="resume">
        <h2>
            Contact
        </h2>
        <div class="linea mb-3"></div>
        {{ form(form) }}
    </div>
{% endblock %}