{% extends 'base.html.twig' %}

{% block content %}
    <div class="resume">
        <h2>
            FreakShow
        </h2>
        <div class="linea"></div>
        <p>
            A freak show is an exhibition of biological rarities,
            referred to in popular culture as "freaks of nature".
        </p>
        <img src="{{ asset('img/ahs1.jpg') }}" class="img-fluid col-sm-12 col-lg-6"/>
        <p>
            Typical features would be physically unusual humans,
            such as those uncommonly large or small, those with
            both male and female secondary sexual characteristics,
        </p>
        <img src="{{ asset('img/ahs7.jpg') }}" class="img-fluid col-sm-12 col-lg-6"/>
        <p>
            those with extraordinary diseases and conditions,
            and others with performances expected to be shocking to viewers.
        </p>
        <img src="{{ asset('img/ahs5.jpg') }}" class="img-fluid col-sm-12 col-lg-6"/>
        <p>
            Heavily tattooed or pierced people have sometimes been seen
            in freak shows, as have attention-getting physical performers
            such as fire-eating and sword-swallowing acts.
        </p>
    </div>
{% endblock %}

