{% extends 'base.html.twig' %}

{% block content %}
    <div class="resume">
        <h2>
            Message send well ;-) !
        </h2>
        <div class="linea"></div>
    </div>
{% endblock %}

